*.pyc
*.png
experiment_results/*.txt
experiment_results/*.db
*.csv
*.zip
*.err
*.pt
*.dill
*.log
*.logs
*.pkl
*.tar.gz
.ipynb_checkpoints/
__pycache__
*.pkl
.DS_Store
experiment_results/compound_samples/*.db
benchmark_models/docking_structures/*
*.pdbqt
*.txt
*.db
*.h5
wandb/*
results/*
docking_structures/
.ipynb_checkpoints
experiment_results
KRAS_stoned*
notebooks/hw_2m_samples.npy
results/all_benchmarl_results_to_plot_s.pkl
